//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
// @import url("https://fonts.googleapis.com/css2?family=Rubik:400&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:300,400,500,700&family=Roboto:300,400,700&display=swap");
//</Подключаем шрифты>=======================================================================================
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic,700,700italic&subset=cyrillic-ext");

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Montserrat-Regular';
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1150;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
body {
   color: #000;
   font-size: 14px;
   &._lock {
      overflow: hidden;
   }
}
button {
   @media (max-width: 426px) {
      // pointer-events: none;
      // -webkit-user-select: none;
      // -webkit-touch-callout: none;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   &._loaded {
   }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 15px;
   overflow: hidden;
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 15px;
   }
}
._container_h {
   max-width: $maxWidthContainer + 150 + px;
   margin: 0 auto;
   padding: 0 15px;
}
._container-f {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import 'forms';
@import 'ui';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import 'popup';
@import 'header';
@import 'footer';
@import 'home';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
   flex: 1 1 auto;
   // .page__start
   &__start {
   }
   // .page__components
   &__components {
   }
}
//===================================================================================================================================
.start-page {
   background: linear-gradient(108.84deg, rgba(255, 255, 255, 0) 37.28%, #f5f5f5 98.78%),
      linear-gradient(250.93deg, #ffffff 37.15%, #f5f5f5 98.32%);
   padding-top: 139px;
   padding-bottom: 76px;
   @media (max-width: 426px) {
      padding-top: 82px;
      padding-bottom: 120px;
   }
   // .start-page__container
   &__container {
      position: relative;
      overflow: visible;
   }
   // .start-page__content
   &__content {
      display: flex;
      align-items: flex-start;
      @media (max-width: 426px) {
         flex-direction: column-reverse;
      }
   }
   // .start-page__img
   &__img {
      margin-right: 33px;
      picture {
         img {
            width: 264px;
            height: 264px;
            @media (max-width: 1400px) {
               width: 234px;
               height: 234px;
            }
            @media (max-width: 426px) {
               width: 160px;
               height: 160px;
            }
         }
      }
      @media (max-width: 426px) {
         // position: absolute;
         // top: 60px;
         // transform: translateX(-100%);
         // left: 100%;
         // padding-right: 40px;
         padding-top: 17px;
         // padding-right: 20px;
         padding-right: 0px;
         display: flex;
         width: 100%;
         flex: 0 1 100%;
         // justify-content: flex-end;
         justify-content: center;
         transform: translateX(10%);
      }
      @media (max-width: 357px) {
         padding-right: 0;
         justify-content: flex-end;
         transform: translateX(0);
      }
   }
   // .start-page__text
   &__text {
      @media (min-width: 426px) {
         padding-top: 15px;
      }
   }
   // .start-page__title
   &__title {
      display: inline;
      font-weight: 600;
      color: #001b35;
      position: relative;
      font-size: 50px;
      z-index: 1;
      &:after {
         z-index: -1;
         content: '';
         height: 6px;
         width: 100%;
         position: absolute;
         bottom: 3px;
         left: 0;
         background-color: #003b73;
      }
      @media (max-width: 426px) {
         font-size: 30px;
         line-height: 32px;
         &:after {
            height: 3px;
            bottom: 2px;
         }
      }
      @media (max-width: 337px) {
         font-size: 28px;
      }
   }
   // .start-page__subtitle
   &__subtitle {
      font-size: 40px;
      line-height: 39px;
      font-weight: 500;
      line-height: 39px;
      margin-top: 10px;
      text-transform: capitalize;
      white-space: wrap;
      padding-right: 60px;
      @media (max-width: 426px) {
         font-size: 20px;
         line-height: 20px;
         margin-top: 7px;
      }
      @media (max-width: 397px) {
         padding-right: 0;
      }
      @media (max-width: 337px) {
         font-size: 18px;
         line-height: 18px;
      }
   }
   // .start-page__btns
   &__btns {
      margin-top: 71px;
      position: relative;
      overflow: visible;
   }
   &__btns-row {
      display: flex;
      flex: 0 1 100%;
      justify-content: space-between;
      @media (max-width: 426px) {
         margin-top: 30px;
      }
      &_s {
         justify-content: center;
         @media (min-width: 426px) {
            display: none;
         }
      }
      &_lr {
         // padding: 0 150px;
         margin-top: 34px;
         justify-content: space-around;
         &:first-child {
            display: none;
         }
         // flex-direction: row-reverse !important;
         @media (min-width: 426px) {
            &:last-child {
               display: none;
               transform: translateX(25%);
            }
         }
         @media (max-width: 436px) {
            padding: 0;
            justify-content: space-between;
            margin-top: 0;
         }
      }
   }
   // .start-page__btn
   &__btn {
      display: flex;
      flex: 0 0 30%;
      width: 100%;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      height: 103px;
      background: #0054a3;
      color: #fff;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      white-space: wrap;
      box-shadow: 0px 0px 15px rgba(0, 84, 163, 0.25);
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-align: center;

      // transition: all 0.3 ease 0s;
      transition: all 0.3s ease 0s;
      &:hover {
         transform: scale(1.05);
      }
      &_ll {
         @media (min-width: 426px) {
            transform: translateX(21%);
            &:hover {
               transform: scale(1.05) translateX(21%);
            }
         }
      }
      &_lr {
         @media (min-width: 426px) {
            transform: translateX(-21%);
            &:hover {
               transform: scale(1.05) translateX(-21%);
            }
         }
      }
      @media (max-width: 1400px) {
         flex: 0 0 28%;
         height: 90px;
         font-size: 23px;
      }
      @media (max-width: 426px) {
         font-size: 15px;
         line-height: 19px;
         height: 62px;
         flex: 0 1 43%;
      }
      @media (max-width: 355px) {
         flex: 0 1 46%;
      }
   }
   &__arrowd {
      cursor: pointer;
      position: absolute;
      left: 100%;
      bottom: 0;
      transform: translateX(-90%);
      @media (max-width: 426px) {
         img {
            width: 56px;
         }
         left: 0;
         bottom: -80px;
         transform: translateX(50%);
      }
   }
}
//===================================================================================================================================
.components-page {
   padding: 70px 0;
   // .components-page__container
   &__container {
   }
   // .components-page__title
   &__title {
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #000000;
      text-align: center;
      margin-bottom: 21px;
      @media (max-width: 426px) {
         font-size: 25px;
      }
   }
   // .components-page__switcher
   &__switcher {
   }
}
.switcher-page {
   // .switcher-page__tags
   &__tags {
      display: flex;
      justify-content: center;
      z-index: 1;
      @media (max-width: 426px) {
         width: 100%;
         flex: 0 1 100%;
      }
   }
   // .switcher-page__tag
   &__tag {
      font-weight: 600;
      font-size: 23px;
      line-height: 28px;
      color: #ffffff;
      padding: 11px 10px 9px 10px;
      background: #004c94;
      border: 2px solid #c1c1c1;
      border-right: 0;
      cursor: pointer;
      @media (max-width: 426px) {
         font-size: 12px;
         line-height: 15px;
         width: 100%;
         padding: 3px 3px;
      }
      &:last-child {
         border-right: 2px solid #c1c1c1;
      }
      z-index: 2;
      &._active {
         background: #f0f0f0;
         border-bottom: 0;
         position: relative;
         color: #000;
         &:after {
            content: '';
            height: 3px;
            width: calc(100% + 0.5px);
            background: #f0f0f0;
            // background: #000;
            bottom: -2px;
            left: -0.5px;
            // left: 0;
            display: block;
            position: absolute;
         }
         &_l {
            border-right: 0;
         }
         &_r {
            border-left: 0;
         }
      }
   }
   // .switcher-page__contents
   &__contents {
      z-index: -10;
      background: #f0f0f0;
      border: 2px solid #c1c1c1;
      transform: translateY(-1px);
      padding: 21px 8px;
   }
   // .switcher-page__content
   &__content {
      display: none;
      line-height: 23px;
      @media (max-width: 426px) {
         line-height: 18px;
      }
      &._active {
         display: block;
      }
   }
}
//===================================================================================================================================
.exp-page {
   background: #f8f8f8;
   // .exp-page__container
   &__container {
      padding: 25px 0;
      @media (max-width: 426px) {
         padding: 17px 14px;
      }
   }
   // .exp-page__title
   &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      padding-bottom: 10px;
      @media (max-width: 426px) {
         font-size: 20px;
      }
   }
   // .exp-page__content
   &__content {
      font-family: 'Rubik';
      font-size: 20px;
      line-height: 25px;

      color: #000000;
      p {
         padding-bottom: 20px;
      }
      &_red {
         color: #ff0000;
      }
      &_redb {
         color: #b60404;
      }
      &_blue {
         color: #00ff;
      }
      @media (max-width: 426px) {
         font-size: 12px;
         line-height: 125%;
      }
   }
}
//===================================================================================================================================
.carts-page {
   padding: 70px 0;
   // .carts-page__container
   &__container {
      padding-bottom: 15px;
   }
   // .carts-page__title
   &__title {
      // font-family: "Montserrat";
      font-size: 25px;
      line-height: 30px;
      color: #000000;
      font-weight: 700;
      padding-bottom: 37px;
      text-align: center;
   }
   // .carts-page__items
   &__items {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1142px) {
         flex-direction: column;
      }
      @media (max-width: 426px) {
         flex-direction: row;
      }
      @media (max-width: 360px) {
         flex-direction: column;
         align-items: center;
      }
   }
   &__row {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-around;
      padding: 0 200px;
      @media (min-width: 1142px) {
         display: none;
      }
      @media (max-width: 426px) {
         flex-direction: column;
         padding: 0;
      }
   }
   &__row2 {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-around;
      padding: 0 200px;
      @media (min-width: 1142px) {
         display: none;
      }
      @media (max-width: 426px) {
         flex-direction: column;
         padding: 0;
      }
   }
   // .carts-page__item
   &__item {
   }
}
.item-carts {
   box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
   background: #003e78;
   padding: 28px 6px;
   width: 170px;
   // height: 243px;
   min-height: 243px;
   display: flex;
   justify-content: center;
   align-items: center;
   @media (max-width: 426px) {
      margin-bottom: 25px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   @media (max-width: 388px) {
      width: 165px;
      height: 100%;
      padding: 24px 6px;
      &__content {
         width: calc(100% - 3px);
      }
      &__subtitle {
         font-size: 10px;
      }
   }
   &__content {
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // height: 100%;
      width: 158px;
      height: 187px;
      padding: 9px;
   }
   &__top {
      text-align: center;
   }
   // .item-carts__logo
   &__logo {
      picture {
         img {
            height: 21px;
            width: 140px;
         }
      }
      margin-bottom: 4px;
      position: relative;
      &:after {
         content: '';
         background: #002c55;
         height: 2px;
         width: 100%;
         position: absolute;
         bottom: -4px;
         left: 0;
      }
   }
   &__title {
      font-family: Rubik;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #000000;
      text-align: center;
   }
   // .item-carts__subtitle
   &__subtitle {
      // font-family: Roboto;
      margin-top: 6px;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      &_nowrap {
         white-space: nowrap;
      }
   }
   // .item-carts__btn
   &__btn {
      display: block;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      background: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);
      padding: 6px;
      padding-top: 2px;
      transition: all 0.3s ease 0s;
      &:hover {
         background: #0054a3;
         color: #fff;
      }
      @media (max-width: 426px) {
         // pointer-events: none;
         // -webkit-user-select: none;
         // -webkit-touch-callout: none;
      }
   }
}
//===================================================================================================================================
.fazis-page {
   background: #f8f8f8;
   margin-bottom: 124px;
   @media (max-width: 426px) {
      margin-bottom: 110px;
   }
   // .fazis-page__container
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 25px;
      @media (max-width: 426px) {
         padding-top: 15px;
         padding-bottom: 15px;
      }
   }
   // .fazis-page__title
   &__title {
      font-weight: bold;
      font-size: 50px;
      line-height: 61px;
      color: #000000;
      text-align: center;
      position: relative;
      display: inline-block;
      margin-bottom: 17px;
      &:after {
         content: '';
         height: 6px;
         width: 100%;
         background: #003b73;
         position: absolute;
         left: 0;
         bottom: 0;
      }
      @media (max-width: 426px) {
         font-size: 30px;
         line-height: 108.9%;
         margin-bottom: 14pxs;
         &:after {
            height: 4px;
         }
      }
   }
   // .fazis-page__content
   &__content {
      margin-bottom: 39px;
      font-family: Rubik;
      font-size: 23px;
      line-height: 130%;
      color: #000000;
      @media (max-width: 426px) {
         font-size: 11px;
         margin-bottom: 20px;
      }
   }
   // .fazis-page__link
   &__link {
      display: block;
      background: #0054a3;
      box-shadow: 0px 0px 10px 3px rgba(0, 84, 163, 0.25);
      padding: 14px 35px;
      color: #fff;
      font-style: normal;
      font-weight: bold;
      font-size: 23px;
      line-height: 130%;
      color: #ffffff;
      transition: all 0.3s ease 0s;
      &:hover {
         transform: scale(1.1);
      }
      @media (max-width: 426px) {
         font-size: 18px;
         padding: 12px 15px 15px 15px;
      }
   }
}
//</ОСНОВНОЙ БЛОК>===================================================================================================================
//<FAZIS>============================================================================================================================
.fazis {
   // .fazis__start
   &__start {
   }
}
.start-fazis {
   background: #f8f8f8;
   // .start-fazis__container
   &__container {
      padding-top: 139px;
      padding-bottom: 265px;
      position: relative;
      @media (max-width: 426px) {
         padding-top: 82px;
         padding-bottom: 195px;
      }
   }
   &__arrowd {
      cursor: pointer;
      position: absolute;
      bottom: 84px;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 426px) {
         left: 10px;
         transform: translateX(0);
         picture {
            img {
               width: 56px;
               height: 56px;
            }
         }
      }
   }
   // .start-fazis__content
   &__content {
      display: flex;
      justify-content: space-between;
      @media (max-width: 426px) {
         flex-direction: column-reverse;
      }
   }
   // .start-fazis__img
   &__img {
      margin-right: 79px;
      picture {
         img {
            width: 253px;
            height: 253px;
            @media (max-width: 426px) {
               width: 160px;
               height: 160px;
            }
         }
      }
      @media (max-width: 426px) {
         margin-top: 21px;
         margin-right: 0;
         text-align: center;
         transform: translateX(10%);
      }
      @media (max-width: 357px) {
         padding-right: 0;
         justify-content: flex-end;
         transform: translateX(0);
      }
   }
   // .start-fazis__btns
   &__btns {
      display: flex;
      justify-content: space-between;
      margin-top: 66px;
      // margin-bottom: 133px;
      @media (max-width: 426px) {
         flex-wrap: wrap;
      }
   }
   &__btn-row {
      display: flex;
      flex: 0 1 100%;
      justify-content: center;
      margin-top: 25px;
      @media (min-width: 426px) {
         display: none;
      }
   }
}
//===================================================================================================================================
.base-fazis {
   padding: 70px 0;
   li {
      display: flex;
      margin-left: -17px;
      margin-bottom: 12px;
      &:first-child {
         margin-left: 0;
         margin-bottom: 29px;
      }
      picture {
         margin-right: 4px;
      }
      @media (max-width: 426px) {
         font-size: 12px;
         line-height: 14px;
         margin-bottom: 10px;
         margin-left: 0px;
         &:first-child {
            margin-bottom: 15px;
         }
         img {
            margin-top: -4px;
            height: 20px;
            width: 20px;
         }
      }
   }
   font-family: Rubik;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   @media (max-width: 426px) {
      padding: 55px 0;
   }
   // .base-fazis__container
   &__container {
   }
}
//===================================================================================================================================
.funcs-fazis {
   padding: 25px 0;
   background: #f8f8f8;
   // .funcs-fazis__container
   &__container {
   }
   // .funcs-fazis__title
   &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 20px;
      text-align: center;
      @media (max-width: 426px) {
         font-size: 20px;
         line-height: 24px;
      }
   }
   li {
      margin-left: -17px;
      margin-bottom: 20px;
      display: flex;
      span {
         font-family: Rubik;
         font-weight: 600;
         font-size: 20px;
         line-height: 24px;
         color: #000000;
      }
      @media (max-width: 1024px) {
         margin-left: 0;
      }
      @media (max-width: 1024px) {
         margin-bottom: 11px;
         span {
            font-size: 12px;
            line-height: 14px;
         }
      }
   }
   // .funcs-fazis__num
   &__num {
      height: 22px;
      border: 3px solid #00376a;
      display: flex;
      flex: 0 0 22px;
      width: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      font-family: 'Rubik';
      font-weight: 700;
      font-size: 18px;
      color: #00376a;
      margin-top: 2px;
      margin-right: 6px;
      @media (max-width: 426px) {
         font-size: 12px;
         height: 18px;
         flex: 0 0 18px;
      }
      @media (max-width: 1025px) {
         font-size: 16px;
         height: 19px;
         flex: 0 0 19px;
         margin-top: -3px;
      }
   }
}
.main-funcs {
   margin-bottom: 124px;
   @media (max-width: 426px) {
      margin-bottom: 60px;
   }
}
//===================================================================================================================================
.arch-fazis {
   padding: 67px 0;
   @media (max-width: 426px) {
      padding: 55px 0;
   }
   // .arch-fazis__container
   &__container {
   }
   // .arch-fazis__title
   &__title {
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 28px;
      @media (max-width: 426px) {
         font-weight: bold;
         font-size: 20px;
         line-height: 24px;
         text-align: center;
         color: #000000;
      }
   }
   // .arch-fazis__img
   &__img {
      text-align: center;
      transform: translateX(6%);
      background-color: transparent;
      @media (max-width: 426px) {
         img {
            background-color: transparent;
            width: 319px;
            height: 385px;
         }
      }
      @media (max-width: 367px) {
         transform: translateX(0%);
         img {
            width: 300px;
            height: 365px;
         }
      }
   }
}
// swiper
.swiper-container {
   display: flex;
   justify-content: center;
   width: 336px;
   height: 100%;
   @media (max-width: 1300px) {
      width: 33.6%;
      height: 62vh !important;
   }
   @media (max-width: 426px) {
      width: 68%;
      height: 56vh !important;
   }
}
.swiper-wrapper {
   margin-top: 25px;
   height: 440px !important;
   @media (max-width: 1300px) {
      height: 100% !important;
      width: 100% !important;
   }
   @media (max-width: 426px) {
      margin-top: 50px;
      height: 100% !important;
      width: 100% !important;
   }
   // overflow: visible !important;
}
.swiper-button-prev {
   position: absolute;
   top: 50%;
   left: 31% !important;
   transform: translateX(-50%) translateY(50%);
   &:after {
      color: #003d77;
   }
   @media (max-width: 1160px) {
      left: 29% !important;
      transform: translateX(10%) translateY(50%);
   }
   @media (max-width: 426px) {
      display: none;
   }
}
.swiper-button-next {
   position: absolute;
   top: 50%;
   right: 30% !important;
   transform: translateY(50%);
   &:after {
      color: #003d77;
   }
   @media (max-width: 1300px) {
      right: 30% !important;
   }
   @media (max-width: 1160px) {
      right: 29.3% !important;
   }
   @media (max-width: 426px) {
      display: none;
   }
}
.swiper-pagination {
   left: 50% !important;
   transform: translateX(-50%);
   // bottom: 62px;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   bottom: 10% !important;
   @media (max-width: 1400px) {
      bottom: 6% !important;
   }
}
.swiper-pagination-bullet {
   width: 15px;
   height: 15px;
   background: #c4c4c4;
   opacity: 1;
   margin-right: 20px;
   &:last-child {
      margin-right: 0;
   }
   @media (max-width: 426px) {
      width: 11px;
      height: 11px;
   }
}
.swiper-pagination-bullet-active {
   width: 21px;
   height: 21px;
   background: #fff;
   opacity: 1;
   @media (max-width: 426px) {
      width: 14px;
      height: 14px;
   }
}
.swiper-slide {
   width: 100% !important;
   // width: 336px;
   // height: 100%;
   // height: 440px !important;
   // background: #c4c4c4;
   margin: auto 0;
   text-align: center;
   align-items: center;
   width: 100%;
   height: 100%;
   display: flex;
   user-select: none;
   img {
      user-select: none;
      margin: auto 0;
      text-align: center;
      align-items: center;
      vertical-align: middle;
      // max-width: 336px;
      width: 100%;
      max-height: 100%;
   }
   @media (max-width: 1300px) {
      width: 100%;
      height: 100%;
   }
   // @media (max-width: 426px) {
   //    width: 100%;
   //    height: 100%;
   // }
}
//</FAZIS>===========================================================================================================================
